select {
  height:30px;
}
input[type=text]{
  height: 30px;
}
input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.UserInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3%;

  &__container {
    border-radius: 15px;
    width: 85%;
    margin: auto;
    color: black;
    text-align: left;
    border: black solid .5px;
    background-color: whitesmoke;
    border: 1px solid black;
  }
}
.title {
  padding-top: 10px;
  padding-left: 50px;
}
.in {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.billingTitle{
  padding-left: 50px;
  padding-bottom: 15px;

  .billingLabel{
    font-size: 20px;
    font-weight: bold;
  }
}

  .address {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_city {
      display: grid;
      width: 40%;
      box-sizing: border-box;
    }
    &_state {
      display: grid;
      width: 25%;
      box-sizing: border-box;
    }
    &_zip {
      display: grid;
      width: 25%;
      box-sizing: border-box;
      overflow: hidden;
    }
  }

.deliveryAddress{
  padding-top: 15px;
  .checkbox{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    .checkboxLabel{
      margin-left: 10px;
    }

  }
}

